body, html {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-image: linear-gradient(to bottom, #1f2b29, #82bdb4);
}
#blackbar {
    background-color: black;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    height: 5%;
    width: 100%;
    text-align: -webkit-center;
}

#titlesubscript {
    background-color: indianred;
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-right: 25%;
}
#titlesubscript2 {
    
    background-color: indianred;
    width: 50%;
    height: fit-content;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    
}
.emoji {
    font-size: 32px;
    transform: rotate(-45deg);
    position: relative;
    overflow: hidden;
    right: -40%;
    top: -100%;
}
.textbox {
    background-color: black;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#chunktitle {
    color:white;
}
.text {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 32px;
    color:white;
    background-color: black;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    text-align: center;
}
.bigquote {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 32px;
}
.table {
    margin-left: 10%;
    background-color: white;
    margin-right:10%;
    display: table;
    column-gap: 10%;
    margin-top:2%;
    border-spacing: 20px;
    padding-right: 5%;
    padding-left:5%;
    border-radius:10px;
}
.tabletitle {
    padding-left: 10px;
    display: table-header-group;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    /*background-color: white;*/
    border-color: black;
    border-style: solid;
    border-width: 500px;
}
.tableitem {
    margin-right: 10%;
    margin-left: 10%;
   /* padding-left: 10%;
    padding-right: 10%;*/
    margin-bottom:10%;
    margin-left: 10%;
    width:80%;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}
.tableitem:hover {
    cursor:default;
    font-weight:bold;
    background-color:rgb(184, 184, 184);
}
.subdivide {
    display: table-cell;
    background-color: gray;
border-color: black;
    border-style: solid;
    border-radius:10px;
    width:15%;
}
.title {
    
    font: large;

    opacity: 1;
    color: black;
}
#subscript {
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: -2.5%;
    color:black;
    opacity: 0.95;
}
#mainImage {
    width: 50%;
    background-color: white;
    border-color: black;
    border-style: solid;
    opacity: 1;
}
#highlight {
    background-color: yellow;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      animation-name: myAnimation;
     animation-duration: 4s;

    /*text-shadow: 2px 2px orange;*/
}
@keyframes myAnimation {
  0% {color: black;}
  50% {color: red;}
  75%{color: green;}
  100%{color:black;}
  
}

#highlight:hover {
    background-color: orange;
}
.invis {
    opacity: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}